 <div class="card">
    <div class="badge">HOT SALE</div>
    <div class="tilt">
      <div class="img"><img [src]="item.imageUrl" alt="Premium Laptop"></div>
    </div>
    <div class="info">
      <div class="cat">Gà rán Jeelibo</div>
      <h2 class="title">{{item.name}}</h2>
      <p class="desc">{{item.description}}</p>

      <div class="bottom">
        <div class="price">
          @if (item.discount > 0) {
          @let discountPrice = item.price * item.discount;
          <span class="old">{{discountPrice | currency}} </span>
          <span class="new">{{item.price | currency}}</span>
          } @else {
          <span class="new">{{item.price | currency}}</span>
          }
        </div>
        <button class="btn" (click)="addToCart(item)">
          <span>Buy now</span>
          <svg class="icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2">
            <path d="M6 2L3 6v14a2 2 0 002 2h14a2 2 0 002-2V6l-3-4" />
            <line x1="3" y1="6" x2="21" y2="6" />
            <path d="M16 10a4 4 0 01-8 0" />
          </svg>
        </button>
      </div>
    </div>
  </div>